html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-size: 14px;
  background-color: #4d6995;
}
a {
  text-decoration: none;
  color: white;
}
/*--------------------- header------------------------ */
#header {
  width: 100%;
  height: 10%;
  font-size: 24px;
  text-align: center;
}

/* ------------ main page -------------------- */
#bookmarks-main {
  width: 100%;
  height: 85%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 5px;
}
/* -----------uncategorized bookmarks -------------------------- */
#uncategorized-bookmarks-fixed {
  width: 25%;
  height: 100%;
}
#uncategorized-bookmarks-header {
  width: 100%;
  height: 5%;
  text-align: center;
  text-decoration: underline;
}
#uncategorized-bookmarks-body {
  width: 100%;
  height: 95%;
  padding: 4%;
  border: 1px solid black;
  border-radius: 20px;

  overflow: auto;
  display: flex;
  flex-direction: column;
}

.uncategorized-bookmark {
  width: 95%;
  height: 10%;
  margin: 1px;
  text-align: center;
  text-decoration: underline;
  padding: 3%;
}
/* ------------------ categorized bookmarks --------------------------- */
#categorized-bookmarks-fixed {
  width: 72%;
  height: 100%;
}
#categorized-bookmarks-header {
  width: 100%;
  height: 5%;
  text-align: center;
  text-decoration: underline;
}
.delete-category-btn {
  float: right;
  margin-right: 2%;
}
#categorized-bookmarks-body {
  width: 100%;
  height: 95%;
  border: 1px solid black;
  text-align: center;
  border-radius: 20px;
  overflow: scroll;
}
.category-new {
  width: 30%;
  height: 55%;
  border: 1px solid darkblue;
  margin: 1%;
  float: left;
  overflow: scroll;
  border-radius: 20px;
}
.category-heading {
  width: 100%;
  height: 5%;
  background-color: aliceblue;
  border-bottom: 1px solid green;
}

.category-body-bookmarks {
  width: 100%;
  height: 90%;
  overflow: scroll;
}

.categorized-bookmark {
  width: 99%;
  height: auto;
  text-align: center;
  vertical-align: middle;
  text-decoration: underline;
  padding: 2%;
}
/* ------------------------popup---------------------------------- */
.bookmark-category-popup {
  background-color: #f9d5bb;
  z-index: 1;
  position: fixed;
  height: 60%;
  width: 0%; /* increase this to 50% to show popup */
  opacity: 0.9;
  left: 25%;
  top: 20%;
  overflow: scroll;
}
.popup-header {
  width: 95%;
  height: 10%;
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid black;
}
.popup-body {
  width: 95%;
  height: 90%;
}

.popup-bookmark {
  width: 95%;
  height: auto;
  border: 1px solid red;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  padding: 1%;
  margin-top: 1%;
}

.popup-bookmark-description {
  width: 80%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.popup-bookmark-delete-btn {
  width: 15%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
