html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-size: 15px;
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #909497;
}

/*--------------------- header------------------------ */
#header {
  width: 100%;
  height: 10%;
  font-size: 24px;
  text-align: center;
}

/* ------------ main page -------------------- */
#bookmarks-main {
  width: 100%;
  height: 85%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 5px;
}
/* -----------uncategorized bookmarks -------------------------- */
#uncategorized-bookmarks-fixed {
  background: #fff;
  padding: 2em;
  margin: 0 1em;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  flex: 1;
  height: 100%;
}
#uncategorized-bookmarks-header {
  width: 100%;
  height: 5%;
  text-align: center;
  color: black;
}
#uncategorized-bookmarks-body {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
}

#uncategorized-bookmarks-body-bookmarks {
  width: 100%;
  height: 97%;
  color: #2a3439;
  overflow: scroll;
  overflow-x: hidden;
}

.uncategorized-bookmark:nth-child(even) {
  background-color: #e5e7e9;
}

.uncategorized-bookmarks-body-header {
  width: 100%;
  height: 3%;
  text-align: center;
  background-color: #515585;
  color: #c2b0c9;
  border-bottom: 1px solid green;
  cursor: pointer;
}

.uncategorized-bookmark {
  background-color: #d6ecff;
  width: 95%;
  height: auto;
  margin: 1px;
  text-align: center;
  padding: 3%;
}
/* ------------------ categorized bookmarks --------------------------- */
#categorized-bookmarks-fixed {
  background: #fff;
  padding: 2em;
  margin: 0 1em;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  flex: 3;
  height: 100%;
}
#categorized-bookmarks-header {
  width: 100%;
  height: 5%;
  color: black;
  text-align: center;
}
.delete-category-btn {
  float: right;
  margin-right: 2%;
}
#categorized-bookmarks-body {
  width: 100%;
  height: 95%;
  text-align: center;
  overflow: scroll;
  overflow-x: hidden;
}
.category-new {
  width: 30%;
  height: 55%;
  margin: 1%;
  float: left;
  overflow: scroll;
}
.category-heading {
  width: 100%;
  height: 7%;
  background-color: #515585;
  color: #c2b0c9;
  border-bottom: 1px solid green;
}

.category-body-bookmarks {
  width: 100%;
  height: 93%;
  background-color: #e5e7e9;
  color: #2a3439;
  overflow: scroll;
  overflow-x: hidden;
}

.categorized-bookmark {
  width: 99%;
  height: auto;
  text-align: center;
  vertical-align: middle;
  padding: 2%;
}

/* ------------------------popup---------------------------------- */
.bookmark-category-popup {
  background-color: #c2b0c9;
  z-index: 1;
  position: fixed;
  height: 50%;
  width: 0%; /* increase this to 50% to show popup */
  opacity: 1;
  left: 25%;
  top: 20%;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  box-shadow: 2px 4px 19px rgba(0,0,0,0.5);
}

#popup-list-div {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}

.popup-header {
  width: 100%;
  height: 20%;
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.popup-remove-category-btn {
  width: 10%;
  height: 100%;
  color: black;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.popup-close-btn {
  width: 10%;
  height: 100%;
  color: black;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.popup-close-btn > div {
  width: fit-content;
  margin: auto;
  transition: transform 0.2s ease;
}

.popup-close-btn:hover > div {

  transform: rotate(45deg);
}

.popup-body {
  width: 90%;
  height: 90%;
}

.popup-bookmark {
  width: 100%;
  height: auto;
  border-bottom: 1px dashed gray;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1%;
  margin-top: 1%;
}

.popup-bookmark-description {
  width: 85%;
  height: 100%;
  padding: 0.5%;
  text-align: center;
  vertical-align: middle;
  color: black;
}

.popup-bookmark-delete-btn {
  width: 5%;
  height: auto;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
/* .popup-close-btn {
  width: 15%;
  height: 10%;
  text-align: center;
  float: right;
} */
.wip {
  float: right;
}

.header-bookmarks {
  color: rgb(184, 182, 182);
}

.home-icon {
  text-decoration: none;
  color: rgb(154, 147, 147);
  font-size: 35px;
}

.home-icon:hover {
  color: rgb(207, 202, 202);
}
