html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-size: 15px;
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #909497;
}

/*--------------------- header------------------------ */
#header {
  width: 100%;
  height: 10%;
  font-size: 24px;
  text-align: center;
}

/* ------------ main page -------------------- */
#bookmarks-main {
  width: 100%;
  height: 85%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 5px;
}
/* -----------uncategorized bookmarks -------------------------- */
#uncategorized-bookmarks-fixed {
  width: 25%;
  height: 100%;
}
#uncategorized-bookmarks-header {
  width: 100%;
  height: 5%;
  text-align: center;
  color: white;
}
#uncategorized-bookmarks-body {
  width: 100%;
  height: 95%;
  border-radius: 20px;

  display: flex;
  flex-direction: column;

  background-color: #19294c;
}

#uncategorized-bookmarks-body-bookmarks {
  width: 100%;
  height: 97%;
  color: #2a3439;
  overflow: auto;
  border-radius: 20px;
}

.uncategorized-bookmarks-body-header {
  width: 100%;
  height: 3%;
  text-align: center;
  background-color: aliceblue;
  border-bottom: 1px solid green;
  cursor: pointer;
}

.uncategorized-bookmark {
  width: 95%;
  height: auto;
  margin: 1px;
  text-align: center;
  padding: 3%;
}
/* ------------------ categorized bookmarks --------------------------- */
#categorized-bookmarks-fixed {
  width: 72%;
  height: 100%;
}
#categorized-bookmarks-header {
  width: 100%;
  height: 5%;
  color: white;
  text-align: center;
}
.delete-category-btn {
  float: right;
  margin-right: 2%;
}
#categorized-bookmarks-body {
  width: 100%;
  height: 95%;
  text-align: center;
  border-radius: 20px;
  overflow: scroll;
  background-color: #e5e7e9;
}
.category-new {
  width: 30%;
  height: 55%;
  margin: 1%;
  float: left;
  overflow: scroll;
  border-radius: 20px;
}
.category-heading {
  width: 100%;
  height: 7%;
  background-color: #515585;
  color: #c2b0c9;
  border-bottom: 1px solid green;
}

.category-body-bookmarks {
  width: 100%;
  height: 93%;
  background-color: #19294c;
  overflow: scroll;
}

.categorized-bookmark {
  width: 99%;
  height: auto;
  text-align: center;
  vertical-align: middle;
  padding: 2%;
}

/* ------------------------popup---------------------------------- */
.bookmark-category-popup {
  background-color: white;
  z-index: 1;
  position: fixed;
  height: 50%;
  width: 0%; /* increase this to 50% to show popup */
  opacity: 1;
  left: 25%;
  top: 20%;
  border-radius: 10px;
  overflow: scroll;
}
.popup-header {
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid black;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.popup-remove-category-btn {
  width: 10%;
  height: 100%;
  color: black;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
.popup-heading {
  width: 70%;
  height: 100%;
  vertical-align: middle;
}
.popup-close-btn {
  width: 10%;
  height: 100%;
  color: black;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
.popup-body {
  width: 90%;
  height: 90%;
}

.popup-bookmark {
  width: 100%;
  height: auto;
  border-bottom: 1px solid gray;
  border-radius: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1%;
  margin-top: 1%;
}

.popup-bookmark-description {
  width: 85%;
  height: 100%;
  padding: 0.5%;
  text-align: center;
  vertical-align: middle;
  color: black;
}

.popup-bookmark-delete-btn {
  width: 5%;
  height: auto;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
/* .popup-close-btn {
  width: 15%;
  height: 10%;
  text-align: center;
  float: right;
} */
.wip {
  float: right;
}

.header-bookmarks {
  color: rgb(184, 182, 182);
}

.home-icon {
  text-decoration: none;
  color: rgb(154, 147, 147);
  font-size: 35px;
}

.home-icon:hover {
  color: rgb(207, 202, 202);
}
