html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;

  background-image: url("http://shoppopgallery.com/wp-content/uploads/2019/06/full-hd-backgrounds-wallpapers-wallpaper-cave-peaceful-hd-background-interesting-8.jpg");
  background-position: center;
}

/* --------------------header ------------------------- */
.header {
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
}
.header a {
  text-decoration: underline;
  color: darkorange;
}
.current-time-div {
  margin-right: 2%;
  font-size: 20px;
}
/* ----------------- main ----------------------------- */
.main {
  width: 100%;
  height: 86%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.analog-clock-container {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: flex-end;
}

.analog-clock-container canvas {
  width: auto;
  height: 50%;
}

.greeting-container {
  width: 100%;
  height: 20%;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  letter-spacing: 8px;
  font-family: serif;
  color: white;
  user-select: none;
  display: flex;
  justify-content: space-around;
}

/*-------------------- footer----------------------- */
.footer {
  width: 100%;
  height: 7%;

  display: flex;
  justify-content: space-around;
}
footer ::placeholder {
  color: skyblue;
}

.user-input-div {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

#name-input {
  width: 70%;
  height: 50%;

  border: none;
  border-bottom: 1px solid skyblue;
  background: none;
  text-align: center;
  color: white;
  font-size: 16px;
}
#name-input-button {
  width: 25%;
  height: 50%;

  background: none;
  color: white;
  border: 1px solid white;
  font-size: 12px;
  cursor: pointer;
}

#name-input-button:focus {
  outline: none;
}
#name-input:focus {
  outline: none;
}

#name-input::placeholder {
  text-align: center;
}
