html,
body {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0%;
  overflow: hidden;
}

body {
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  /* animation: gradient 15s ease infinite; */
  background-color: rgba(0, 0, 0, 0.7);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* ----------------- animation -----------------*/
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* ----------------- font family ----------------------------- */
@font-face {
  font-family: "openSans";
  src: url(../library/OpenSansRegular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "openSans";
  src: url(../library/OpenSansLight.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: "openSans";
  src: url(../library/OpenSansSemibold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "fontello";
  src: url(../library/fontello.ttf);
  font-weight: normal;
}

/* ----------------- header ----------------------------- */
.header {
  width: 100%;
  height: 10%;
}

#drop-button {
  position: absolute;
  font-size: 44px;
  color: white;
  font-family: Helvetica, sans-serif;
  top: 20px;
  right: 40px;
}

#optionArea {
  position: absolute;
  right: 38px;
  top: 16px;
  width: 45px;
  height: 60px;
  z-index: 1;
}

/* option icons */
.optionButtons {
  position: absolute;
  border: 2px solid white;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  right: 0px;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#bookmarkButton {
  top: 0px;
}

#imageButton {
  top: 60px;
}

#file-selector {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

#bookmarkButton a,
#imageButton label {
  color: white;
  font-size: 30px;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
}

#bookmarkButton a:hover,
#imageButton label:hover {
  color: cyan;
}

/* ----------------- main ----------------------------- */
main {
  width: 100%;
  height: 60%;
  display: block;
}

/*-------------------- footer----------------------- */
.footer {
  width: 100%;
  height: 30%;
  display: block;
}

/* ---------------- name display section */
.greeting-container {
  margin: 0 auto;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: row;
  align-items: center;
  width: max-content;
  height: min-content;
  justify-content: space-around;
  font-family: "openSans";
  font-weight: normal;
  letter-spacing: 4px;
  font-size: 3rem;
  color: rgba(255, 255, 255, 1);
  user-select: none;
}

#name {
  width: auto;
  user-select: none;
}

#name:hover {
  color: aqua;
  border-bottom: 2px solid aqua;
}