html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;

  background-image: url("../public/bg.jpg");
  background: image("");
  background-position: center;
}

/* --------------------header ------------------------- */
.header {
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
}
.header a {
  text-decoration: underline;
  color: darkorange;
}
.current-time-div {
  margin-right: 2%;
  font-size: 20px;
}
/* ----------------- main ----------------------------- */
.main {
  width: 100%;
  height: 86%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.greeting-container {
  width: 100%;
  height: 20%;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  letter-spacing: 8px;
  font-family: serif;
  color: white;
  user-select: none;
  display: flex;
  justify-content: space-around;
}

/*-------------------- footer----------------------- */
.footer {
  width: 100%;
  height: 7%;

  display: flex;
  justify-content: space-around;
}
footer ::placeholder {
  color: skyblue;
}
.setting {
  cursor: pointer;
  font-size: 24px;
}
#setting-popup {
  background-color: #f9d5bb;
  z-index: 1;
  position: fixed;
  height: 60%;
  width: 0%; /* increase this to 50% to show popup */
  opacity: 0.9;
  left: 25%;
  top: 20%;
  border-radius: 20px;
  overflow: scroll;
}
.popup-header {
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid black;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.popup-body {
  width: 90%;
  height: 90%;
}

.user-input-div {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

#name-input {
  width: 70%;
  height: 50%;

  border: none;
  border-bottom: 1px solid skyblue;
  background: none;
  text-align: center;
  color: skyblue;
  font-size: 16px;
}
#name-input-button {
  width: 25%;
  height: 50%;

  background: none;
  color: white;
  border: 1px solid white;
  font-size: 12px;
  cursor: pointer;
}

#name-input-button:focus {
  outline: none;
}
#name-input:focus {
  outline: none;
}

#name-input::placeholder {
  text-align: center;
}
