html,
body {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0%;
  overflow: hidden;
}

body {
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  /* animation: gradient 15s ease infinite; */
  background-image: url("../library/nature-3082832_1920.jpg");
  background-color: rgba(0, 0, 0, 0.7);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* ----------------- animation -----------------*/
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* ----------------- font family ----------------------------- */
@font-face {
  font-family: "openSans";
  src: url(../library/OpenSansRegular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "openSans";
  src: url(../library/OpenSansLight.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: "openSans";
  src: url(../library/OpenSansSemibold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "fontello";
  src: url(../library/fontello.ttf);
  font-weight: normal;
}

/* ----------------- header ----------------------------- */
.header {
  display: inline-flexbox;
  width: 100%;
  height: 15%;
  text-align: right;
  /* background-color: crimson; */
}

.optionContainer {
  display: inline-block;
  width: 5%;
  height: 99%;
  margin-right: 4%;
  /* background-color: blueviolet; */
}

.optionButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  width: 70%;
  height: 40%;
  margin: 3% auto;
  font-size: 22px;
  text-align: center;
  border: 2px solid white;
  border-style: groove;
  border-radius: 10px;
}

/* 
#bookmarkButton,
#imageButton {
  display: flex;
  flex-shrink: 1;
} */

#bookmarkButton a,
#imageButton span {
  color: white;
  margin: 0% auto;
}

#file-selector {
  color: transparent;
}

/* ----------------- main ----------------------------- */
main {
  width: 100%;
  height: 60%;
  display: block;
}

/* 
The container <div> - needed to position the dropdown content
.dropdown {
  position: absolute;
  margin-left: 90%;
  display: inline-block;
  width: 10%;
  height: 10%;
}

Dropdown button
.dropbtn {
  position: fixed;
  background: none;
  color: white;
  font-size: 40px;
  border: none;
}


Dropdown Content (Hidden by Default)
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.55);
  width: 300px;
  top: 80%;
  right: 80%;
}

Links inside the dropdown
.dropdown-content a {
  padding-top: 14px;
  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
  display: block;
  color: rgba(255, 255, 255, 1);
  font-size: large;
}

.dropdown-content a:hover {
  color: rgba(255, 255, 255, 0.8);
  padding-left: 20px;
}

.dropdown-content a:last-child {
  padding-bottom: 14px;
}

Show the dropdown menu on hover
.dropdown:hover .dropdown-content {
  display: block;
}

.drop-down-name-icon {
  width: 100%;
  height: 100%;
  background-image: url("../public/name-icon.png");
  background-color: red;
} */

/*-------------------- footer----------------------- */
.footer {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* ---------------- name display section */
.greeting-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: max-content;
  height: min-content;
  font-family: "openSans";
  font-weight: normal;
  letter-spacing: 4px;
  font-size: 48px;
  color: rgba(255, 255, 255, 1);
  user-select: none;
}

#nameInput {
  display: none;
}

/* ---------------------popups ----------------------*/

/* #popup-main {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
  display: none;
  position: absolute;
  height: 38vh;
  width: 30vw;
  left: 35%;
  top: 25%;
  border-radius: 16px;
  overflow: hidden;
}

#popup-header {
  width: 100%;
  height: 20%;
  text-align: center;
  border-bottom: 1px solid white;
  display: flex;
  font-size: 15pt;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  user-select: none;
  color: white;
  font-weight: bold;
}

#popup-header-text {
  margin: 0% 0%;
  display: inline-block;
  height: 80%;
  width: 90%;
  font-size: inherit;
  text-underline-position: below;
}

#popup-close {
  z-index: 1;
  position: absolute;
  left: 90%;
  font-size: 20px;
  line-height: 1.5px;
  color: white;
  text-decoration: none;
  padding-right: 5px;
}

#popup-close:hover,
#popup-close:focus {
  color: tomato;
}

#popup-body {
  width: 100%;
  height: 75%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
} */

/* ------------greeting name popup----------------------- */

/* #name-input {
  width: 80%;
  height: 25%;

  border: none;
  background: none;
  text-align: center;
  color: #515585;
  font-size: 20px;
  border: 1px solid black;
  background-color: white;
}

#name-input-button {
  width: 80%;
  height: 25%;

  color: white;
  border: 1px solid white;
  font-size: 12px;
  cursor: pointer;
  background-color: #515585;
}

#name-input-button:focus {
  outline: none;
}

#name-input:focus {
  outline: none;
} */