html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;

  background-image: url("../public/nature-3082832_1920.jpg");
  background-position: center;
}

/* ----------------- main ----------------------------- */
.main {
  width: 99%;
  height: 75%;

  display: flex;
  flex-direction: row;
}

#left-main {
  height: 100%;
  width: 30%;
}

#middle-main {
  height: 100%;
  width: 40%;
}

#right-main {
  height: 100%;
  width: 30%;

  display: flex;
  justify-content: center;
}

/*-------------------- footer----------------------- */
.footer {
  width: 100%;
  height: 7%;

  display: flex;
  justify-content: space-around;
}

.greeting-container {
  width: 100%;
  height: 20%;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  letter-spacing: 8px;
  font-family: serif;
  color: white;
  user-select: none;
  display: flex;
  justify-content: space-around;
}
/* ============================================================ */
.dropbtn {
  background: none;
  color: white;
  font-size: 36px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 10%;
  height: 10%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background: none;
  z-index: 1;
  background-color: black;
  font-size: 140.5%;
  opacity: 0.7;
  width: max-content;
  right: 0;
  color: white;
  font: 22px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
  font: 22px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.drop-down-name-icon {
  width: 100%;
  height: 100%;
  background-image: url("../public/name-icon.png");
  background-color: red;
}

/* ======================================================================= */
#setting-popup {
  background-color: #f9d5bb;
  z-index: 1;
  position: fixed;
  height: 30%;
  width: 0%;
  opacity: 0.9;
  left: 25%;
  top: 20%;
  border-radius: 20px;
  overflow: scroll;
}
.popup-header {
  width: 100%;
  height: 20%;
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid black;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.popup-body {
  width: 100%;
  height: 90%;
}
/* ---------------------popups ----------------------*/

#popup-main {
  background-color: #f9d5bb;
  z-index: 1;
  position: fixed;
  height: 25%;
  width: 0%;
  opacity: 0.9;
  left: 35%;
  top: 30%;
  border-radius: 20px;
  overflow: scroll;
}
#popup-header {
  width: 100%;
  height: 20%;
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid black;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#popup-body {
  width: 100%;
  height: 75%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* ------------greeting name----------------------- */

#name-input {
  width: 80%;
  height: 25%;

  border: none;
  background: none;
  text-align: center;
  color: #515585;
  font-size: 20px;
  border: 1px solid black;
  background-color: white;
}
#name-input-button {
  width: 80%;
  height: 25%;

  color: white;
  border: 1px solid white;
  font-size: 12px;
  cursor: pointer;
  background-color: #515585;
}

#name-input-button:focus {
  outline: none;
}
#name-input:focus {
  outline: none;
}
